.topSection{
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
}
.titleImage {
  
  /* float:left; */
  width:49%;
  display:inline-block;
}
.apiGoLogoDiv {
  width:49%;
  float:right;
  
}
.showJson {
  margin-left: 40px;
}
.cameraTable {
  border: 8px solid black;
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
  background-color: red;
}
.cameraTable tr td{
  border: 1.3px solid black;
  padding: 10px;
  background-color: white;
}
.tableTitles {
  text-align: center;
}
.rover-info{
  max-width: 1100px;
  /* margin: 0 auto; */
}
.roverPic {
  width: 100%;
}
.rover-cameras    {
  /* width: 50%; */
  float: left;
  padding: 20px;
  width: 45vw;
}
.camera-table  {
  width: 45vw;
  margin-left: 45vw;
}
h1, h2, h3, h4, p, .navbar {
  text-align: center;
}
.roverTitleImage {
  margin-left: 15%;
}
.photo {
  max-width: 50vw;
}
.welcomeContainerDiv, .queryExamplesDiv, .missionManifestDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.missionManifestDiv, .PhotoAttributesDiv, .queryExamplesDiv {
  border: 3px solid black;
  width: 55vw;
  padding: 20px 80px;
  margin: 20px auto;
  
}
.nasaLists {
  margin-left: -20%;
}
.nasaParagraphDiv{
  padding: 20px 40px;
}
.exampleHr {
  width: 55vw;
}
.exampleIntro {
  width: 55vw;
  margin: 20px auto;
  
}
.exampleTdDescriptions{
  text-align: center;
  background-color: aquas;
}