.exampleContainerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.exampleTopDiv{
    border: 3px solid black;
    width: 55vw;
    padding: 20px 80px;
    margin: 20px auto;
}
.showJson {
    max-width: 50vw;
    white-space: pre-line;
}
p {
    text-align: center;
}
.exampleTable1 {
    border: 8px solid black;
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
  background-color: red;
  width: 55vw;
}
.exampleTable1 tr td{
    border: 1.3px solid black;
    padding: 10px;
    background-color: white;
    text-align: left;
  }
  .exampleTable1 tr td{
      max-width: 40vw;
      white-space:wrap;
  }