.exampleContainerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.exampleTopDiv{
    border: 3px solid black;
    width: 55vw;
    padding: 20px 80px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 5px 10px;
}
.showJson {
    max-width: 50vw;
    white-space: pre-line;
}
p {
    text-align: center;
}
.exampleTable1 {
    border: 8px solid black;
  margin: 0 auto;
  padding: 10px;
  border-radius: 15px;
  background-color: red;
  width: 55vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 5px 10px;
  
}
.exampleTable1 tr td{
    border: 1.3px solid black;
    padding: 10px;
    background-color: white;
    text-align: left;
  }
  .exampleTable1, tr, td{
      max-width: 55vw;
      white-space:wrap;
      
  }
